html {
    box-sizing: border-box;
}

h1 {
    
}

#text-center {
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: 10px;
}

h1 {
    text-align: center;
    font-family: Arial;
}

main {
    margin-left: 2%;
    margin-right: 2%;
    background-color: #e1edd4;
}

#wrapper {
    height: auto !important;
    height: 100%;
    margin: 0;
    padding-bottom: 60px;
}

#left-image {
    height: 1px;
    background-color: red;
}

#div-image {
    max-width: 100%;
    max-height: 100%;
}

#right-image {
    height: 1px;
}